.pub_form{
	padding: 20px 40px;
	li{
		padding: 10px;
		span{
			width: 100px;
			text-align: right;
			padding-right: 24px;
		}
		select.wider{
			width: 320px;
		}
	}
}
.btn{
	margin-top: 20px;
	
}
