.pub_list{
	.flagship{
        padding: 11px 14px;
	    background-image: url(../../images/icon_flagship.jpg);
	    background-size: 22px 22px;
	    background-position: 0 center;
	    background-repeat: no-repeat;
	}	
}