.qrcode_box{
	padding: 40px;
	img{
		width: 180px;
		height: 180px;
	}
	p{
		display: block;
		width: 180px;
		margin: 0 auto 0 0;
		text-align: center;
		line-height: 24px;
		color: #AAAEB3;
	}
	.btn, .btn_dis{
		display: block;
		margin: 20px auto 0 0;
		width: 180px;

	}
}