.pub_form{
	.box_day{
		display: none; 
	}
	.box_week{
		display: none; 
	}
	.box_month{
		display: none; 
	}
	.timeList{
		display: inline-block;
	}
	.item{
		min-width: 650px;
		padding: 2px 0;
		.btn,.btn_dis{
			float: right;
		}
	}
}
.selected_lessons{
	margin-left: 15px;
}
.pub_list{
	.head{
		display: block;
	}
	.body{
		max-height: 400px;
		overflow: auto;
		li{
			input[type=checkbox]{
				/*zoom:160%;*/
				transform:scale(1.4);
				cursor: pointer;  
			}
		}
	}	
}