.pub_list{
	.flagship{
        padding: 14px 19px;
	    background-image: url(../../images/icon_flagship.png);
	    background-size: 28px 37px;
	    background-position: 0 center;
	    background-repeat: no-repeat;
	}	
}