.pub_form{
	.box_day{
		display: none; 
	}
	.box_week{
		display: none; 
	}
	.box_month{
		display: none; 
	}
	.timeList{
		display: inline-block;
	}
	.item{
		min-width: 650px;
		padding: 2px 0;
		.btn,.btn_dis{
			float: right;
		}
	}
}




